{{!-- Access Bar --}}
<div class="accessbar">
    {{#ifndef user }}
        <a href="/register" class="btn btn-secondary my-2 my-sm-0 mr-3">Register</a>
        <a href="/login" class="btn btn-danger my-2 my-sm-0">Login</a>
    {{else}}
        <a href="/logout" class="btn btn-danger my-2 my-sm-0">Logout</a>
    {{/ifndef}}
</div>
