<link rel="stylesheet" href="/css/local/backtester.css">

<!-- BackTester Content -->
<div class="container">

    <!-- Main Content -->
    <div class="wrapper" style="min-height: 90vh; margin-top: 80px;">
        
        <div class="row d-flex align-items-center">
            <h3>BackTester</h3>
            
        </div>

        <div class="row mt-3">
            <div class="col-md-12 mb-4 text-center">
                <h3>BTCBUSD</h3>
            </div>

            <div class="col-md-12">
                <div id="chartContainer"></div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
<script src="/js/local/backtester_sample_pyplots.js"></script>
<script src="/js/local/backtester_pyplots.js"></script>
<script src="/js/local/backtester.js"></script>