<!-- Admin Area Content -->
<div class="container">
    <!-- Main Content -->
    <div class="wrapper" style="height: 90vh; margin-top: 80px;">
        <h3>Administrative Area</h3>
        <p>This is a restricted area: Only an administrator can access</p>
    </div>
</div>