
<div class="container">
    <!-- Main Content -->
    <div class="wrapper" style="height: 90vh; margin-top: 80px;">
        <h3>Home Page</h3>
        <p>Welcome, this is a public area!</p>
    </div>
</div>
